---
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]
